* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    white-space: 20px;
}


/*******MENU******/

.Menu {
    background: linear-gradient( rgb(206, 252, 226), rgb(140, 165, 140), rgb(114, 129, 114));
    width: 100%;
    height: 60px;
    display: block;
}

.content-menu {
    margin: 0px;
    display: flex;
}

.content-liste {
    margin: auto;
    padding: 5px;
}

.link-MENU {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: rgb(8, 8, 8);
}

.link-MENU:hover {
    text-decoration: underline;
    color: rgb(36, 117, 36);
}

.btn-inscri {
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    background: linear-gradient( rgb(6, 100, 48), rgb(3, 173, 3), rgb(48, 250, 48));
}

.btn-inscri:hover {
    cursor: pointer;
}


/******Aceuill*****/

.container {
    margin: 30px;
    text-align: center;
}

.ispm-img {
    margin-left: 100px;
    width: 50px;
    height: 50px;
}

.annee-30ans {
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 1000px;
    color: rgb(92, 91, 91);
    //float: right;
}

.ispm-Title {
    margin-top: -60px;
    color: rgb(36, 117, 36);
}

.pg-title-2 {
    font-weight: 500;
    margin-bottom: 10px;
    margin: 20px;
    font-size: 13px;
    color: rgb(92, 91, 91);
}

.txt-objectif {
    font-weight: 500;
    font-style: italic;
    margin: 30px;
    font-size: 16px;
    color: rgb(92, 91, 91);
}

.txt-Proposition {
    font-weight: 500;
    margin: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(92, 91, 91);
}

.btn-contact {
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin: 15px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: whitesmoke;
    background-color: rgb(36, 117, 36);
}

.btn-contact:hover {
    cursor: pointer;
}


/*****Nos formation******/

.tilte-formation {
    border-top: 1px solid rgb(36, 117, 36);
    font-weight: 500;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
}

.txt-formation {
    font-weight: 500;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(92, 91, 91);
}


/******revews*******/

.title-histoire {
    border-top: 1px solid rgb(36, 117, 36);
    font-weight: 500;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
}

.txt-paragraphe-1 {
    font-weight: 500;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(92, 91, 91);
}

.txt-paragraphe-2 {
    font-weight: 500;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(92, 91, 91);
}

.txt-paragraphe-3 {
    font-weight: 500;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(92, 91, 91);
}

ul,
li::marker {
    display: inline;
    margin: 10px;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.txt-paragraphe-list {
    font-weight: 500;
    margin: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(92, 91, 91);
}